BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "sys_clk_i" SITE "P3";
IOBUF PORT     "sys_clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "sys_clk_i" 25.0 MHz;
LOCATE COMP    "ledout" SITE "U16";
IOBUF PORT     "ledout" IO_TYPE=LVCMOS33;
LOCATE COMP    "sys_rst_i" SITE "K18";
IOBUF PORT     "sys_rst_i" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "uart_tx" SITE "J17";
IOBUF PORT     "uart_tx" IO_TYPE=LVCMOS33;
LOCATE COMP   "uart_rx" SITE "H18";
IOBUF PORT    "uart_rx" IO_TYPE=LVCMOS33;
