BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "LEDS[0]" SITE "T6";
IOBUF PORT     "LEDS[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "resetn" SITE "R7";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "TXD" SITE "C4";
IOBUF PORT     "TXD" IO_TYPE=LVCMOS33;
LOCATE COMP    "RXD" SITE "D4";
IOBUF PORT     "RXD" IO_TYPE=LVCMOS33;

LOCATE COMP    "RGB0[0]" SITE "G14";
IOBUF PORT     "RGB0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[1]" SITE "G13";
IOBUF PORT     "RGB0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[2]" SITE "F12";
IOBUF PORT     "RGB0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[0]" SITE "F13";
IOBUF PORT     "RGB1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[1]" SITE "F14";
IOBUF PORT     "RGB1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[2]" SITE "E14";
IOBUF PORT     "RGB1[2]" IO_TYPE=LVCMOS33;

LOCATE COMP    "A[0]" SITE "N5";
IOBUF PORT     "A[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "A[1]" SITE "N3";
IOBUF PORT     "A[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "A[2]" SITE "P3";
IOBUF PORT     "A[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "A[3]" SITE "P4";
IOBUF PORT     "A[3]" IO_TYPE=LVCMOS33;
LOCATE COMP    "A[4]" SITE "N4";
IOBUF PORT     "A[4]" IO_TYPE=LVCMOS33;
LOCATE COMP    "LATCH" SITE "N1";
IOBUF PORT     "LATCH" IO_TYPE=LVCMOS33;
LOCATE COMP    "BLANK" SITE "M4";
IOBUF PORT     "BLANK" IO_TYPE=LVCMOS33;
LOCATE COMP    "CLK_SCREEN" SITE "M3";
IOBUF PORT     "CLK_SCREEN" IO_TYPE=LVCMOS33;
